@model IEnumerable<zlobek.Entities.Account>

<h2>Account List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.AccountId</td>
                <td>@account.Name</td>
                <td>@account.Surname</td>
                <td>@account.Email</td>
                <td>@account.PhoneNumber</td>
                <td>@account.Role</td>
            </tr>
        }
    </tbody>
</table>
